name: OpenTofu Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to NSX-T
    runs-on: self-hosted
    defaults:
      run:
        working-directory: nsxt

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1

      - name: OpenTofu Init
        run: tofu init

      - name: OpenTofu Apply
        run: tofu apply -auto-approve
